* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* width: 80%; */
  height: fit-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  /* background: #ffcc9d; */
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  display: flex;
  gap: 10px;
  padding: 50px 15px 100px;
}
.allCards {
  background-color: #ffcc9d;
  padding: 50px 30px;
  width: 100%;
}

.custom-cards {
  display: flex;
  gap: 10px;
}

.bodycard {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: #ffff;
  align-items: center;
  margin-top: 50px;
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 50px 20px 20px 20px;
}

.shoe1 {
  position: absolute;
  top: -80px;
  width: 450px;
}

.shoe2 {
  position: absolute;
  top: -70px;
}

.lorem {
  align-items: center;
  display: flex;
  margin: 0px 0px;
  color: #8c8885;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
}

.custom-des {
  text-align: center;
  color: #8c8885;

  margin: 10px 25px;

  font-size: 15px;
}

.cardbody {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 50px 10px;
}

.price {
  color: #e0d7d0;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  height: 22px;
  margin-top: 20px;
  margin-bottom: 45px;
}

button {
  font-size: 17px;
  color: #c4c1bf;
  background-color: #ff6b00;
  height: fit-content;

  border: none;
  transition: 0.3s all;
  background-size: 500% 200%;
  background-position: 5% 100%;
  font-family: Inter;
  font-weight: 500;
  padding: 05px 5px;
  border-radius: 20px;
}

button:hover {
  box-shadow: none;
  background-color: #ff6b00;
  animation: rainbow 1s 1;
  border-radius: 30px;
  background-position: 90% 50%;
}

button:active {
  transform: scale(1.2);
  width: 100%;
}

.add {
  border: 1px solid #ffcc9d;
  border-radius: 24px;
  background-color: #f67e1d;
  padding: 5px 12px;
  color: white;
  margin-top: 24px;
}

img {
  width: 200px;
  position: absolute;
  top: -50px;
}
@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
    margin-top: 65px;
  }
}
