*{
    box-sizing: border-box;
}
.top-bar{
    display: flex;
    background-color: #24252A;
    justify-content: space-between;
    align-items: center;
    padding: 6px 50px 6px 50px ;
}
.list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 500px;
    color: white;
}
.nav-items{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;

}
.menu-bar{
    width: 12px;
    height: 12px;
}
.left-head{
    color: #00FFFF;

}
#rad{
    height: 10px;
}
.dis{
    border: 1px solid #0786A9;
    border-radius: 25px;
    background-color: #FF00FF;
    padding: 4px 20px;
    display: flex;
    align-content: center;
    width: fit-content;
    color: #EEEEEE;
    font-family: Roboto;
    font-weight: bolder;
    font-size:20px;

}
.header{
    color: #2588CC;
    margin-bottom: 5px;
    font-size: 30px;
}
.heading{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.subheading{
    margin: 5px;
}
.main-body{
    background-cohlor: #46464b;
}
.navbar-collapse{
    justify-content: end;
}
.content{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.card1{
    width: 230px;
    height: 300px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
}
.card2{
    width: 230px;
    height: 300px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
    
}
.card3{
    width: 230px;
    height: 300px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}
.med{
    color: #2588CC;
    font-size: 24px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.card-content{
    align-items: center;
    padding: 15px;
    
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.more{
    border: 1px solid black;
    border-radius: 20px;    
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
}
.p-content{
    text-align: center;
}
#twit{
    height: 20px;
}
#tube{
    height: 20px;
}
#insta{
    height: 20px;
 }/*
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    justify-content: end;